body {
    font-family: "Montserrat", serif;
}

div {
    display: block;
    unicode-bidi: isolate;
}

.nav-logo {
    position: relative;
    bottom: 1px;
}

.nav-sticky {
    z-index: 100;
    position: fixed;
    top: -1px;
    left: 0;
}

.header-text {
    font-family: "Changa", serif;
}

.positioning {
    background-position: 10% center;
}